@model CourseDTO

<h2>Update Course</h2>
<hr>
<div class="row">
    <div class="col-8">
        <form asp-controller="Course" asp-action="Edit" method="post">
            <div asp-validation-summary="All"></div>
            <input type="hidden" asp-for="CourseId">
            <div class="mb-3">
                <label asp-for="Title" class="form-label">Course Title</label>
                <input asp-for="Title" class="form-control">
            </div>
            <div class="mb-3">
                <label asp-for="InstructorId" class="form-label">Instructor</label>
                <select asp-for="InstructorId" asp-items="ViewBag.Instructors" class="form-select">
                    <option value="">Choose</option>
                </select>
            </div>
            <button type="submit" class="btn btn-secondary">Save</button>
        </form>
    </div>
    <div class="col-4">
        <h4>Students</h4>
        <hr>
        <ul>
            @foreach (var item in @Model.CourseRegistrations)
            {
                <li>@item.Student.NameSurname</li>
            }
        </ul>   
    </div>
<div class="row">
